<!DOCTYPE html>
<html lang="en">
<head>
	<title>Text Utils</title>
</head>
<body>
<h1> Welcome to the text analyzer. Enter the text below - </h1>
<form action ="/analyze" method="get">
	<textarea name ="text" style="margin: 0px; width: 1299px; height: 117px;"></textarea> <br><br>

	<input type="checkbox" name="removepunc">Remove Punctuation
	
	<input type="checkbox" name="fullcaps">Captilize All Letter
	
	<input type="checkbox" name="newlineremover">Remove New Line
	
	<input type="checkbox" name="extraspaceremover">Remove Extra Space
	
	<input type="checkbox" name="charcount">Count The Character
	
	<br>
	<br>
	<button type ='submit'> Analyze Text</button>
</form>
</body>
</html>